.container {
    width: 100%;
    height: 10vh;
    position: fixed;
}

.container .ban {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(233, 195, 195, 0.475);
    filter: blur(5px);
}

.logo {
    color: rgb(2, 11, 20);
    position: absolute;
}