.container {
    width: 100%;
    height: 10vh;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
}

.container .ban {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.3);
}

.container .logo {
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
    justify-content: space-around;
}

span {
    visibility: hidden;
    color: white;
}

.container .logo h1 {
    color: rgba(255, 255, 255, 0.79);
    font-family: 'BenchNine', sans-serif;
    font-size: 7.5vh;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
}

.container .links {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .links ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container .links ul li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    list-style: none;
    margin: auto;
}

.container .links ul li a {
    font-family: 'Raleway', sans-serif;
    font-size: 2.7vh;
    color: rgba(255, 255, 255, 0.79);
    cursor: pointer;
}

a {
    text-decoration: none;
}

.container .menu {
    visibility: hidden;
    position: absolute;
    align-self: center;
    right: 3vh;
}

@media only screen and (max-width: 768px) {
    .container .logo {
        position: absolute;
        justify-self: center;
        align-items: center;
    }
    .links {
        position: absolute;
        background-color: black;
        height: 100vh;
        min-width: 100vh;
        z-index: -2;
        transform: translateX(100vh);
        transition: 700ms cubic-bezier(0.62, -0.44, 0.37, 1.26)
    }
    .links ul {
        display: flex;
        flex-direction: column;
        gap: 5vh;
        justify-content: center;
        align-items: center;
    }
    .container .menu {
        visibility: visible;
    }
}


/*      BOTON MENU      */

.ggMenu {
    transform: scale(var(--ggs, 2.5))
}

.ggMenu,
.ggMenu::after,
.ggMenu::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background-color: azure;
}

.ggMenu::after,
.ggMenu::before {
    content: "";
    position: absolute;
    top: -6px
}

.ggMenu::after {
    top: 6px
}