.container {
    width: 100%;
    height: 10vh;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
}

.container .ban {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.3);
}

.container .logo {
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
    justify-content: space-around;
}

span {
    visibility: hidden;
    color: white;
}

.container .logo h1 {
    color: rgba(255, 255, 255, 0.79);
    font-family: 'BenchNine', sans-serif;
    font-size: 7.5vh;
    font-weight: 300;
    text-decoration: none;
}

.container .links {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .links ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container .links ul li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    list-style: none;
    margin: auto;
}

.container .links ul li p {
    font-family: 'Raleway', sans-serif;
    font-size: 2.7vh;
    color: rgba(255, 255, 255, 0.79);
    cursor: pointer;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .container {
        justify-content: flex-end;
        align-items: center;
    }
    .container .logo {
        width: 100%;
        justify-content: center;
    }
    .container .links:active {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.993);
        visibility: visible;
        z-index: -2;
    }
    .container .links ul {
        display: grid;
        justify-content: center;
    }
    .container .links ul li {
        margin-bottom: 5vh;
    }
    .container span {
        position: absolute;
        visibility: visible;
        font-size: 7vh;
    }
}